@charset "utf-8";

/* CSS Document */
/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 992px) and (max-width: 1200px) {  


}

/* width: 991px; */

@media screen and (max-width: 61.938em) {
    
    .c-section1 {height: auto!important;scroll-snap-align: inherit!important;}
    .footer .footer-title .title{font-size: 22px!important;font-weight: 500!important;line-height: 32px!important}
    .app .app-box { max-height: none;padding: 0px;}
    .app-center {justify-content: center;}
    .app-title h1{font-size: 22px!important;font-weight: 500!important;line-height: 32px!important}
    .app .app-box .app-detils h2{font-size: 22px;font-weight: 500;line-height: 32px;}
    
}

/* ipad-pro-media-query */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    
   
}

/* nest-hub-media-query */
@media screen and (min-width:1024px) and (-webkit-min-device-pixel-ratio:0){
  
}
/*============	Media 768Px Start ============ */

@media (min-width: 768px) and (max-width: 991px) {
   
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 768px) {

}
/*============ Media 300Px Star ============ */

@media (max-width: 480px) {
    .app .app-box .app-detils .google-app {display: block;}
    .app .app-box .app-detils .google-app .app-btn{width: 100%;}
}

/*============ Media 320Px Start ============ */

@media (max-width: 320px) {
  
}