.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #FBAB7E;
    transition: transform 0.3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
  }
  .grow, .grow-small {
    transform: scale(4);
    background: white;
    mix-blend-mode: difference;
    border: none;
  }
  
  .grow-small {
    transform: scale(2);
  }
  /*----------- scroll on----------- */
  /* Hide scrollbar for Chrome, Safari and Opera */
.c-main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.c-main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.c-main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.c-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}
.c-section1{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  scroll-snap-align: center;
  height: 100vh;
}

/* start-design */
/* 1] Footer-Section */
.copy-wright{width: 100%;position: relative;float: left;background: #FC1785;padding: 20px 0px 20px 0px;text-align: center;}
.copy-wright p{font-size: 17px;font-weight: 500;text-align: center;color: #ffffff;line-height: 27px;}

.footer{width: 100%;position: relative;float: left;padding: 30px 0px 0px 0px;}
.footer .footer-title{width: 100%;text-align: center;margin-bottom: 30px;}
.footer .footer-title .title{font-size: 35px;font-weight: 900;text-align: center;line-height: 45px;color: #ffffff;text-transform: uppercase;letter-spacing: 0.02em;font-family: 'Rowdies';}
.footer h6{font-family: 'Poppins', sans-serif;font-size: 16px;font-weight: normal;text-align: center;line-height: 25px;color: #ffffff;}
.footer .socialfoot{width: 100%; text-align: center;margin-bottom: 30px;margin-top: 30px;}
.footer .socialfoot ul{list-style: outside none none; margin: 0; padding: 0;}
.footer .socialfoot ul li{display: inline-block; margin: 0 14px 10px 0px;}
.footer .socialfoot ul li a{background: #0F234E;width: 52px;height: 52px;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px #080F1F;;border-radius: 5px;}
.footer .socialfoot ul li .fb{color: #ffffff;  display: block; font-size: 23px;text-align: center; text-decoration: none; transition: all 0.3s ease 0s;line-height: 35px;}
.footer .socialfoot ul li .btn{padding: 7px;}
.footer .socialfoot ul li:last-child{margin-right: 0px;}
.footer .socialfoot ul li a:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}
.footer .subscribe-form{width: 100%;position: relative;float: left;margin-bottom: 30px;}
.footer .subscribe-form .input-group{align-items: center;}
.footer .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){margin-left: -32px;z-index: 2;}
.footer .subscribe-form .input-group-text{background: #FC1785;border: 1px solid #FC1785;box-shadow: 10px 20px 20px #161830;padding: 10px 30px;border-radius: 10px;color: #ffffff;text-transform: uppercase;}
.footer .subscribe-form .searchbox-wrap {display: flex;background: #0F234E;box-shadow: inset 10px 10px 20px #080F1F;border: 1px solid #122B61;margin-left: auto;border-radius: 10px;margin-right: auto;height: 66px;}
.footer .subscribe-form .searchbox-wrap input {font-family: 'Poppins', sans-serif;flex: 1 1;padding: 10px 25px;font-size: 17px;font-weight: 400;width: 100%;border-radius: 10px;border-right: none;outline: none;border: none;color: #ffffff;box-shadow: inset 10px 10px 20px #080F1F;background: #0F234E;}
.footer .subscribe-form .searchbox-wrap button {padding-right: 10px; -webkit-border-top-right-radius: 10px;-webkit-border-bottom-right-radius: 10px;-moz-border-radius-topright: 10px;-moz-border-radius-bottomright: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;background:#0F234E;;border: none;outline: none;cursor: pointer;cursor: hand;border-left: none;box-shadow: inset -13px 10px 20px #080F1F;}
.footer .subscribe-form .searchbox-wrap button span {padding:8px 25px;font-size: 18px;text-transform: uppercase;font-weight: 500 ;color: #fff;background-color: #FC1785;border-radius: 5px;border: 1px solid #FC1785;box-shadow: 10px 20px 20px #080F1F;}
.footer .subscribe-form .searchbox-wrap button span:hover {background-color:transparent;border: 1px solid #FC1785;transition: 0.3s linear;}
.footer .icon-img{position: absolute;top: -127px;right: 0px;}
.footer .icon-img img{width:500px;}
.footer .subscribe-form .searchbox-wrap input::-webkit-input-placeholder { color: #ffffff  }
.footer .subscribe-form .searchbox-wrap input:-moz-placeholder { color: #ffffff}
.footer .subscribe-form .searchbox-wrap input::-moz-placeholder { color: #ffffff }
.footer .subscribe-form .searchbox-wrap input:-ms-input-placeholder { color: #ffffff}
.footer .footer-btn{width: 100%;text-align: center;position: relative;float: left;margin-bottom: 15px;}
.footer .footer-btn .learnmore{background: #0F234E;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px #010D27;border-radius: 5px;font-size: 16px;font-weight: normal;text-align: center;color: #ffffff;padding: 10px 17px;text-transform: uppercase;margin-right: 20px;margin-bottom: 10px;}
.footer .footer-btn .learnmore:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}
.footer .footer-btn .learnmore:last-child{margin-right: 0px;}

/* 2] App Section */
.app{width: 100%;position: relative;float: left;padding: 30px 0px 30px 0px;}
.app .app-box{padding: 50px;width: 100%;position: relative;float: left;border-radius: 15px;max-height: 420px;background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(11, 21, 41, 0.5) 0%, rgba(19, 29, 50, 0.29) 77.08%, rgba(19, 29, 50, 0.135) 100%);background-blend-mode: overlay, normal;box-shadow: inset 10px 10px 20px #080F1F;margin-bottom: 30px;}
.app .app-box .app-detils{width: 100%;position: relative;float: left;}
.app .app-box .app-detils h2{font-size: 25px;font-weight: 900;text-align: left;text-transform: uppercase;line-height: 40px;color: #ffffff;margin-bottom: 20px;letter-spacing: 0.05em;}
.app .app-box .app-detils p{font-size: 16px;font-weight: normal;text-align: left;letter-spacing: 0.02em;color: #ffffff;line-height: 26px;}
.app .app-box .app-detils .google-app{width: 100%;position: relative;float: left;margin-top: 20px;display: flex;}
.app .app-box .app-detils .google-app .app-btn{background: #131D32;box-shadow: inset 10px 10px 20px #080F1F;border-radius: 5px;display: flex;padding: 10px 20px;border: 1px solid #2B2F53;align-items: center;margin-right: 20px;margin-bottom: 20px;justify-content: center;}
.app .app-box .app-detils .google-app .app-btn img{width: 30px;margin-right: 10px;}
.app .app-box .app-detils .google-app .app-btn p{font-size: 13px;font-weight: normal;text-align: left;text-transform: uppercase;color: #ffffff;line-height: 23px;}
.app .app-box .app-detils .google-app .app-btn .app-name{font-size: 18px;font-weight: normal;text-align: left;text-transform: capitalize;color: #ffffff;}
.app .app-box .mobile-img{width: 100%;position: relative;float: left;text-align: center;margin: 0 auto;}
.app-bg{background: url(/images/app-bg.png)center center;background-size: cover;content: "";position: absolute;top: 0px;right: 5px;width: 375px;height: 290px;}
.app-title{width: 100%;position: relative;float: left;margin-bottom: 15px;}
.app-title h1{font-family: 'Rowdies';font-size: 30px;font-weight: 600;text-align: center;text-transform: uppercase;line-height: 40px;color: #ffffff;margin-bottom: 15px;}
.app-title p{font-size: 16px;font-weight: normal;text-align: center;line-height: 27px;color: #fff;}
.app-logo{width: 100%;margin-top: -26px;text-align: center;}
.app-logo img{width: 215px;}
.app-padding{padding: 35px;width: 100%;float: left;}



/* 3] Massive Slider Section */
.social-slider{width: 100%;position: relative;float: left;padding: 15px 0px 15px 0px;}
.social-slider .social-box{float: left;padding: 7px;;box-shadow: inset 4.69741px -4.69741px 4.69741px rgba(2, 194, 106, 0.1), inset -4.69741px 4.69741px 4.69741px rgba(255, 255, 255, 0.1);;border-radius: 15.5666px;border: 0.794725px solid #596DFF;;background-blend-mode: overlay, normal;background:radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(66, 71, 73, 0.5) 0%, rgba(103, 108, 111, 0.125) 77.08%, rgba(66, 71, 73, 0) 100%);}
.slider-item-details{text-align: center;width: 100%;position: relative;float: left;margin-top: 5px;padding: 5px;}
.slider-item-details h6{font-size: 15px;font-weight: 500;text-align: center;line-height: 25px;color: #ffffff;text-transform: uppercase;}
.slider-item-details p{font-size: 13px;font-weight: normal;text-align: center;line-height: 23px;color: #ffffff;}
/* social-e courasel start */
.social-slider .owl-item > div {cursor: pointer;margin: 20% 0%;transition: margin 0.4s ease;}
.social-slider .owl-item.center > div {cursor: auto;margin: 0;}
.social-slider .owl-item:not(.center) > div{float: left;contain: '';border: 1px solid #2971D5;border-radius: 16.2681px;background-blend-mode: overlay, normal;opacity: .6;}
  /* testing active center */
.social-slider .owl-item.active.center .slider-item-details{font-size:40px;float: left;display: block;width: 100%;text-align: center;} 
.social-slider .owl-item.active .slider-item-details{font-size: 15px;display: none;}
.social-slider .owl-item .item .slider-item-details{display: none;}
.slider-title{width: 100%;position: relative;float: left;text-align: center;margin-bottom: 20px;padding: 15px}
.slider-title h1{font-family: 'Rowdies';font-size: 30px;font-weight: 600;text-align: center;text-transform: uppercase;color: #ffffff;line-height: 40px;margin-bottom: 15px;}
.slider-title p{font-size: 16px;font-weight: normal;text-align: center;color: #ffffff;line-height: 25px;}
.social-slider .owl-theme .owl-nav{display: none!important;}
.social-slider .social-slider-btn{width: 100%;position: relative;float: left;text-align: center;}
.social-slider .social-slider-btn .social-s-btn{background: #0F234E;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px #010D27;border-radius: 5px;font-size: 15px;font-weight: normal;text-align: center;text-transform: uppercase;color: #ffffff;padding: 10px 30px;}
.social-slider .social-slider-btn .social-s-btn:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}
/* .slider-title p::before {content: "\f10d"; font-family: FontAwesome; display: inline-block; margin-right: 15px;color: #FC1785; font-size: 25px;}
.slider-title p::after {content: "\f10e "; font-family: FontAwesome; display: inline-block; margin-left: 15px;color: #FC1785; font-size: 25px;} */


.slider-title:before {content: "\f10d ";font-family: FontAwesome;display: inline-block;margin-right: 8px;top: 33px;left: -59px;color: #FC1785;font-size: 34px;position: absolute;}
.slider-title:after {content: "\f10e ";font-family: FontAwesome;display: inline-block;margin-right: 8px;top: 33px;right: -59px;color: #FC1785;font-size: 34px;position: absolute;}

.social-slider .owl-carousel{min-height: 480px;}


/* 4] Social-e Slider Section */
.social-E-slider{width: 100%;position: relative;float: left;padding: 15px 0px 15px 0px;}
.social-E-slider .social-box12 .overlay {position: absolute;top: 0;bottom: 0;left: 0;border-radius: 10px;right: 0;height: 100%;width: 100%;opacity: 0;transition: .5s ease;background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), radial-gradient(127.67% 174.96% at 108.77% 102.37%, rgba(66, 71, 73, 0.5) 0%, rgba(103, 108, 111, 0.21) 77.08%, rgba(66, 71, 73, 0) 100%)}
.social-E-slider .social-box12 .text {color: white;font-size: 20px;text-transform: uppercase;font-weight: 500;line-height: 30px;position: absolute;top: 50%;left: 50%; -webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);text-align: center;}
.social-E-slider .social-box12:hover .overlay {opacity: 1;}
.social-E-slider .social-box12 .image {display: block;width: 100%;height: auto;border-radius: 10px;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background: #FC1785!important;}

/* 5] XR-Elight Section */
.xr{width: 100%;position: relative;float: left;padding: 30px 0px 30px 0px;margin-top: 20px;}
.xr .xr-left{width: 100%;position: relative;float: left;}
.xr .xr-left h1{font-family: 'Rowdies';font-size: 33px;font-weight: 600;text-align: left;text-transform: uppercase;color: #ffffff;line-height: 43px;margin-bottom: 15px;}
.xr .xr-left h1 span{color: #FC1785;}
.xr .xr-left p{font-size: 16px;font-weight: normal;line-height: 26px;color: #ffffff;line-height: 27px;margin-bottom: 25px;}
.xr .xr-left .xr-btn{background: #0F234E;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px #010D27;border-radius: 5px;font-size: 17px;font-weight: 500;text-align: center;padding: 10px 25px;outline: none;color: #ffffff;text-transform: uppercase;margin-bottom: 20px;}
.xr .xr-left .xr-btn:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}
.xr .xr-right{width: 100%;position: relative;float: left;}
.xr .xr-right .skew { width: 100%; position: relative;float: left;}
.xr .xr-right .skew .scaled {background: #0F234E;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px #010D27;transform: perspective(3300px) scaleZ(7) rotateY(-19deg);border-radius: 30px;padding: 20px;float: left;position: relative;max-height: 300px;max-width: 619px;}
.xr .xr-right .skew .scaled img {border-radius: 30px;transform: perspective(3300px) scaleZ(1) rotateY(-9deg);max-height: 262px;max-width: 600px;}

/* login-page-section */
.login{width: 100%;position: relative;float: left;padding: 70px 0px 30px 0px;}

.login .login-box{width: 100%;position: relative;float: left;background: #0F234E;border: 2.04926px solid #122B61;box-shadow: inset 10px 10px 20px rgba(1, 13, 39, 0.5);border-radius: 10px;padding: 25px;margin-bottom: 20px;}
.login .login-box .form-section{width: 100%;position: relative;float: left;}
.login .login-box .form-section .form-control{font-family: 'Poppins', sans-serif; padding: 0.675rem .90rem;border: 0.834001px solid #122B61;margin-bottom: 20px;height: 55px;background: #0F234E;box-shadow: inset 10px 10px 20px rgba(1, 13, 39, 0.5);border-radius: 10px;color: #ffffff;width: 100%;font-weight: 400;font-size: 17px;}
  .login .login-box .form-section .form-control::-webkit-input-placeholder { color: #ffffff  }
  .login .login-box .form-section .form-control:-moz-placeholder { color: #ffffff}
  .login .login-box .form-section .form-control::-moz-placeholder { color: #ffffff }
  .login .login-box .form-section .form-control:-ms-input-placeholder { color: #ffffff}
  .login .login-box .form-section .forgot{font-family: 'Poppins', sans-serif;color: #ffffff;font-size: 18px;font-weight: 400;text-align: center;}
  .login .login-box .form-section .forgot:hover{color:#FC1785;transition: 0.3s linear;}
  .login .sign-btn-section{width: 100%;position: relative;float: left;margin-bottom: 20px;}

  .login .sign-btn-section .sign{font-family: 'Poppins', sans-serif;width: 100%;background: #FC1785;box-shadow: 8.36196px 16.7239px 16.7239px rgba(8, 15, 31, 0.5);border-radius: 10px;font-size: 18px;font-weight: 500;text-align: center;padding: 12px 40px;border: 1px solid #FC1785;outline: none;color: #ffffff;}
  .login .sign-btn-section .sign:hover{background: transparent;border: 1px solid#FC1785;transition: 0.4s linear;}
  .login .act{width: 100%;position: relative;float: left;margin-bottom: 20px;}
  .login .act .act-btn{font-family: 'Poppins', sans-serif;font-size: 18px;font-weight: 500;text-align: center;color: #ffffff;line-height: 30px;}
  .login .act .act-btn a{color:#FC1785;}
  .login .act .act-btn a:hover{color: #ffffff;transition: 0.3s linear;}
  .login .top-title{width: 100%;position: relative;float: left;margin-bottom: 25px;}
  .login .top-title h2{font-family: 'Rowdies';font-size: 27px;font-weight: 700;text-align: left;text-transform: capitalize;line-height: 40px;color: #ffffff;}

  .login-bg{background: url(/images/couple-login.png)center center;background-size: cover;content: "";position: absolute;top: 70px;right: -417px;width: 872px;height: 928px;}


/*-----------------
	9. Sidebar
-----------------------*/

.sidebar {
  background-color: #0F234E;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  bottom: 0;
  left: 0;
  margin-top: 0;
  position: fixed;
  top: 70px;
  transition: all 0.2s ease-in-out 0s;
  width: 240px;
  z-index: 1001;
}
.sidebar.opened {
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
transition: all 0.4s ease;
}
.sidebar-inner {
height: 100%;
min-height: 100%;
transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu {
  padding: 0px;
}
.sidebar-menu ul {
font-size: 15px;
list-style-type: none;
margin: 0;
padding: 0;
position: relative;
}
.sidebar-menu li a {
color: #ffffff;
font-family: 'Poppins', sans-serif;
display: block;
font-size: 15px;
line-height: 16px;
padding: 0 20px;
font-weight: 400;
letter-spacing: 0.1em;
text-transform: capitalize;
}

.sidebar-menu li a:hover {
  color: #2962ff;
}
.sidebar-menu > ul > li > a:hover {
  background-color: #1faeee;
color:#ffffff;
}
.sidebar-menu > ul > li.active > a:hover {
  /* background-color: #0044ff; */
  color:#ffffff;
}
.sidebar-menu li.active a {
  background: rgba(11, 21, 41, 0.5);
  color: #ffffff;
  border-right: 3px solid 
  #FC1785;
}

.menu-title {
  color: #9e9e9e;
  display: flex;
  font-size: 14px;
  opacity: 1;
  padding: 5px 15px;
  white-space: nowrap;
}
.menu-title > i {
float: right;
line-height: 40px;
}
.sidebar-menu li.menu-title a {
  color: #ff9b44;
  display: inline-block;
  margin-left: auto;
  padding: 0;
}
.sidebar-menu li.menu-title a.btn {
  color: #fff;
  display: block;
  float: none;
  font-size: 15px;
  margin-bottom: 15px;
  padding: 10px 15px;
}
.sidebar-menu ul ul a.active {
color: #2962ff;
text-decoration: underline;
}
.mobile_btn {
display: none;
float: left;
}
.sidebar .sidebar-menu > ul > li > a span {
transition: all 0.2s ease-in-out 0s;
display: inline-block;
/* margin-left: 10px; */
margin-left: 18px;
white-space: nowrap;
}
.sidebar .sidebar-menu > ul > li > a span.chat-user {
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar .sidebar-menu > ul > li > a span.badge {
margin-left: auto;
}
.sidebar-menu ul ul a {
  display: block;
  font-size: 15px;
  padding: 7px 10px 7px 45px;
  position: relative;
}
.sidebar-menu ul ul {
display: none;
}
.sidebar-menu ul ul ul a {
padding-left: 65px;
}
.sidebar-menu ul ul ul ul a {
padding-left: 85px;
}
.sidebar-menu > ul > li {
  margin-bottom: 1px;
  position: relative;
}
.sidebar-menu > ul > li:last-child {
  margin-bottom: 0;
}
.sidebar-menu .menu-arrow {
-webkit-transition: -webkit-transform 0.15s;
-o-transition: -o-transform 0.15s;
transition: transform .15s;
position: absolute;
right: 15px;
display: inline-block;
font-family: 'FontAwesome';
text-rendering: auto;
line-height: 40px;
font-size: 16px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-transform: translate(0, 0);
-ms-transform: translate(0, 0);
-o-transform: translate(0, 0);
transform: translate(0, 0);
line-height: 18px;
top: 11px;
}
.sidebar-menu .menu-arrow:before {
content: "\f105";
}
.sidebar-menu li a.subdrop .menu-arrow {
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}
.sidebar-menu ul ul a .menu-arrow {
top: 10px;
}
.sidebar-menu > ul > li > a {
  align-items: center;
  /* border-radius: 3px; */
  display: flex;
  justify-content: flex-start;
  /* padding: 10px 42px; */
padding: 13px 35px;
  position: relative;
  transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu > ul > li > a img{width: 22px;height: 22px;}

.sidebar-menu ul li a i {
display: inline-block;
font-size: 13px;
line-height: 24px;
text-align: left;
vertical-align: middle;
width: 20px;
transition: all 0.2s ease-in-out 0s;
/* color: #FF7685; */
}
.sidebar-menu ul li a i:hover{
color: #1faeee;

}
.sidebar-menu ul li.menu-title a i {
font-size: 16px !important;
margin-right: 0;
text-align: right;
width: auto;
}
.sidebar-menu li a > .badge {
  color: #fff;
}


/* SUbMenu */
.submenu > ul > li > a:hover{background-color: #1faeee;color: #ffffff;}
.submenu > ul > li > a{align-items: center;display: flex;justify-content: flex-start;padding: 14px 39px;position: relative;transition: all 0.2s ease-in-out 0s;}
.submenu > ul > li > a{text-align: left;background-color: transparent;border-bottom: 1px solid #272b30;color: #676767;}
.submenu li a{font-style: normal;font-weight: bold;font-size: 11px!important;line-height: 15px;text-transform: uppercase;text-align: left;color: #676767;}
.submenu > ul > li > a:first-child{border-top: 1px solid #272b30;}


.divider{border-bottom: 1px solid #272b30;margin: 10px 0px 10px 0px;}

/*-----------------
	10. Content
-----------------------*/

.main-wrapper {width: 100%;height: 100vh;min-height: 100vh;}
.page-wrapper {margin-left: 240px;padding-top: 60px;position: relative;transition: all 0.4s ease;}
.page-wrapper > .content {padding: 1.875rem 1.875rem 0;}
.page-header {margin-bottom: 1.875rem;}
.page-header .breadcrumb { background-color: transparent;color: #6c757d;font-size: 1rem;font-weight: 500;margin-bottom: 0;padding: 0;}
.page-header .breadcrumb a {color: #333;}
.page-title {color: #333;margin-bottom: 5px;}

.page-wrapper {margin-left: 240px;padding-top: 60px;position: relative;transition: all 0.4s ease;}



/*-----------------
	8. Header
-----------------------*/

.header {
	background:#0F234E;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1001;
	height: 70px;
}
.header .header-left {
	float: left;
	height: 60px;
	padding: 0 17px;
	position: relative;
	text-align: center;
	/* width: 240px; */
	z-index: 1;
	transition: all 0.2s ease-in-out;
}
.header .header-left .logo {
	display: inline-block;
	line-height: 60px;
}
.header .header-left .logo img {
    max-height: 33px;
    width: auto;
}
.header-left .logo.logo-small {
    display: none;
}
.header .dropdown-menu > li > a {
	position: relative;
}
.header .dropdown-toggle:after {
	display: none;
}
.header .has-arrow .dropdown-toggle:after {
	border-top: 0;
	border-left: 0;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	content: '';
	height: 8px;
	display: inline-block;
	pointer-events: none;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	width: 8px;
	vertical-align: 2px;
}
.header .has-arrow .dropdown-toggle[aria-expanded="true"]:after {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}



.header .dropdown-menu > li > a:focus,
.header .dropdown-menu > li > a:hover {
	background-color: #2962ff;
	color: #fff;
}
.header .dropdown-menu > li > a:focus i,
.header .dropdown-menu > li > a:hover i {
	color: #fff;
}
.header .dropdown-menu > li > a {
	padding: 10px 18px;
}
.header .dropdown-menu > li > a i {
	color: #2962ff;
	margin-right: 10px;
	text-align: center;
	width: 18px;
}
.header .user-menu .dropdown-menu > li > a i {
	color: #2962ff;
	font-size: 16px;
	margin-right: 10px;
	min-width: 18px;
	text-align: center;
}
.header .user-menu .dropdown-menu > li > a:focus i,
.header .user-menu .dropdown-menu > li > a:hover i {
	color: #fff;
}
.mobile_btn {
	display: none;
	float: left;
}
.slide-nav .sidebar {
	margin-left: 0;
}




.menu-title {
    color: #a3a3a3;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0 25px;
}
.sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 1000;
}
.sidebar-overlay.opened {
    display: block;
}

/* discord-Section */
.discord-img{width: 100%;position: relative;float: left;margin-bottom: 20px;}
.discord-img img{width: 100%;}
.night-camp{width: 100%;position: relative;float: left;margin-bottom: 20px;background: rgba(11, 21, 41, 0.5);padding: 15px;border-radius: 5px;text-align: center;}
.night-camp h3{font-size: 19px;font-weight: 700;text-align: center;text-transform: uppercase;line-height: 29px;color: #ffffff;letter-spacing: 0.02em;font-family: 'Rowdies'!important;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);margin-bottom: 20px;}
.night-camp img{border: 5px solid #122B61;width: 100%;border-radius: 5px;margin-bottom: 20px;}
.night-camp p{font-size: 14px;font-weight: normal;text-align: center;line-height: 24px;color: #ffffff;margin-bottom: 15px;}
.night-camp .night-opn-btn{background: #0F234E;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px rgba(1, 13, 39, 0.5);border-radius: 5px;font-size: 16px;font-weight: 700;text-align: center;text-transform: uppercase;color: #ffffff;padding: 9px 40px;letter-spacing: 0.1em;}
.night-camp .night-opn-btn:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}
.Discoverd-title{width: 100%;position: relative;float: left;margin-bottom: 20px;}
.Discoverd-title h5{font-size:19px;font-weight: 500;text-align: left;text-transform: uppercase;line-height: 20px;color: #ffffff;letter-spacing: 0.02em;}

.blog-item {margin-bottom: 30px;position: relative;overflow: hidden;border-radius: 5px;}
.blog-item:hover .blog-inner {bottom: 0;opacity: 1}
.blog-item img {width: 100%;border-radius: 5px;}
.blog-item span {display: inline-block;font-size: 13px;color: #060f1e;background-color: #fff;position: absolute;top: 0;left: 0;padding: 10px 20px}
.blog-item .blog-inner {position: absolute;bottom: -95px;left: 0;right: 0;background-color: #131D32;;padding: 15px 10px 18px 20px;-webkit-transition: .5s all ease;transition: .5s all ease;opacity: 0}
.blog-item .blog-inner h3 {text-align: center;line-height: 27px;font-weight: 400;font-size: 16px;color: #ffffff;}
.hover03 img {border-radius: 5px;-webkit-transform: scale(1.2);transform: scale(1.2);-webkit-transition: .5s ease-in-out;transition: .6s ease-in-out;}
.hover03:hover img {-webkit-transform: scale(1);transform: scale(1);border-radius: 5px;opacity: 0.5;}

/* Match-section */
.Match{width: 100%;position: relative;float: left;padding: 15px;background: #0D1C3C;margin-bottom: 30px;}
.Match .Match-player{width: 100%;position: relative;float: left;background: #0F234E;margin-bottom: 10px;}
.Match .Match-player .paly-img{background: #122B61;padding: 3px;margin-bottom: 3px;}
.Match .Match-player .paly-img img{width: 100%;}
.Match .Match-player .code{width: 100%;padding: 10px;float: left;position: relative;}
.Match .Match-player .code h5{font-family: 'Rowdies';font-size: 15px;font-weight: 300;text-align: left;text-transform: uppercase;color: #ffffff;}
.Match .Match-player .code span{font-family: 'Poppins', sans-serif;font-size: 12px;font-weight: normal;text-align: left;color: #ffffff;line-height: 22px;}
.Match .Match-player .code .connect-sec{width: 100%;float: left;display: flex;margin-top: 20px;justify-content: space-between;}
.Match .Match-player .code .connect-sec .connect-btn-link{font-size: 13px;font-weight: 500;text-align: center;color: #ffffff;padding: 8px 12px;background: #0F234E;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px rgba(1, 13, 39, 0.5);border-radius: 5px;text-transform: uppercase;letter-spacing: 0.02em;}
.Match .Match-player .code .connect-sec .connect-btn-link:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}
.Match .Match-player .code .connect-sec .wishlist{background: #0F234E;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px rgba(1, 13, 39, 0.5);border-radius: 5px;font-size: 15px;font-weight: 500;color: #ffffff;padding: 8px 10px;}
.Match .Match-player .code .connect-sec .wishlist:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}
.player-active{width: 17px;text-align: center;height: 17px;line-height: 15px;border-radius: 100px;background:#0F234E;padding: 4px;justify-content: center;align-items: center;position: absolute;right: 9px;top: 9px;}
.player-active .circle-point{background: #02C26A;width: 10px;height: 10px;border-radius: 100px;text-align: center;line-height: 8px;}
.Match .match-title{width: 100%;position: relative;float: left;margin-bottom: 3px;}
.Match .match-title h6{font-size: 15px;font-weight: 400;text-align: left;text-transform: uppercase;line-height: 26px;font-family: 'Rowdies';color: #ffffff;}
.Match .valentine{width: 100%;position: relative;float: left;background: #0F234E;border: 2px solid #122B61;padding: 2px;}
.Match .valentine img{width: 100%;}
.Match .courasel-section{width: 100%;position: relative;float: left;margin-bottom: 10px;background: #0D1C3C;border: 1px solid #122B61;}

.Match .courasel-section .carousel-control-next-icon, .carousel-control-prev-icon{background-color: #0F234E;border: 1px solid #122B61;box-shadow: inset 5px 5px 8px rgba(1, 13, 39, 0.5);border-radius: 5px;}
.Match .courasel-section .carousel-control-next, .carousel-control-prev{opacity: 1;}
.Match .courasel-section .description{width: 100%;position: relative;float: left;margin-top: 15px;margin-bottom: 15px;}
.Match .courasel-section .description h6{letter-spacing: 0.02em;font-size: 18px;font-weight: 500;text-align: left;text-transform: uppercase;line-height: 28px;color: #ffffff;margin-bottom: 10px;float: left;width: 100%;}
.Match .courasel-section .description p{font-family: 'Poppins', sans-serif;font-size: 15px;font-weight: 400;text-align: left;line-height: 25px;color: #ffffff;float: left;width: 100%;}
.Match .courasel-section .courasel-box{padding: 15px;}
.Match .courasel-section .courasel-footer{border-top: 1px solid #122B61;width: 100%;position: relative;float: left;padding: 15px;}
.Match .courasel-section .courasel-footer .footer-btn{display: flex;align-items: center;justify-content: space-between;width: 100%;}
.Match .courasel-section .courasel-footer .footer-btn .colse-btn{font-size: 16px;font-weight: 500;text-align: center;color: #ffffff;background: #0F234E;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px #010D27;border-radius: 5px;padding: 5px 11px;margin: 0px 15px;}
.Match .courasel-section .courasel-footer .footer-btn .colse-btn:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}
.Match .courasel-section .courasel-footer .footer-btn .colse-btn-1{font-size: 16px;font-weight: 500;text-align: center;color: #ffffff;background: #0F234E;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px #010D27;border-radius: 5px;padding: 5px 50px;text-transform: uppercase;width: 100%;}
.Match .courasel-section .courasel-footer .footer-btn .colse-btn-1:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}

.Match .courasel-section .description .online-location{width: 100%;position: relative;float: left;display: flex;justify-content: space-between;margin-bottom: 30px;align-items: center;}
.Match .courasel-section .description .online-location .left-loc{display: block;float: left;width: 100%;position: relative;}
.Match .courasel-section .description .online-location .left-loc h5{font-family: 'Rowdies';font-size: 18px;font-weight: normal;text-align: left;color: #ffffff;margin-bottom: 7px;}
.Match .courasel-section .description .online-location .left-loc span{font-family: 'Poppins', sans-serif;font-size: 15px;font-weight: normal;text-align: left;color: #ffffff;line-height: 25px;position: relative;}
.Match .courasel-section .description .online-location .right-loc{position: relative;display: flex;align-items: center;}
.Match .courasel-section .description .online-location .right-loc span{font-family: 'Poppins', sans-serif;font-size: 14px;font-weight: normal;text-align: right;color: #ffffff;line-height: 24px;}

.Match .courasel-section .description .online-location .right-loc i{color: #02C26A;border: 2px solid#122B61;border-radius: 50px;background: #122B61;padding: 1px;display: flex;text-align: center;align-items: center;height: 20px;margin-right: 7px;width: 20px;}
.Match .search-order{width: 100%;position: relative;float: left;margin-bottom: 20px;display: flex;justify-content: space-between;}
.Match .search-order h5{font-family: 'Rowdies';font-size: 16px;font-weight: normal;text-align: left;text-transform: uppercase;line-height: 28px;color: #ffffff;}
.Match .search-order .dropdown{background: #0F234E;border: 1px solid #122B61;border-radius: 5px;}
.Match .search-order .dropdown .drp-bnt{letter-spacing: 0.02em;font-size: 16px;font-weight: normal;text-align: left;color: #ffffff;font-family: 'Poppins', sans-serif;outline: none;text-transform: uppercase;}
.Match .search-order .filter-btn{border: 1px solid #122B61;border-radius: 5px;background: #0F234E;padding: 6px 10px;}
.Match .search-order .filter-btn i{rotate: 90deg;font-size: 18px;font-weight: 500;color: #ffffff;}
.Match .search-order .filter-btn

.Match .search-order .input-group{width: auto;}
.Match .search-order .input-group .form-control{padding: 10px 10px;font-family: 'Poppins', sans-serif;background: #0F234E;border-radius: 5px;border: 1px solid #0F234E;outline: none;box-shadow: none;color: #ffffff;font-size: 14px;}
.Match .search-order .input-group .btn{box-shadow: none;}

.Match .search-order .input-group input::-webkit-input-placeholder { color: #ffffff  }
.Match .search-order .input-group input:-moz-placeholder { color: #ffffff}
.Match .search-order .input-group input::-moz-placeholder { color: #ffffff }
.Match .search-order .input-group input:-ms-input-placeholder { color: #ffffff}

/* About Me */
.about-section{width: 100%;position: relative;float: left;background: #0F234E;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px rgba(1, 13, 39, 0.5);border-radius: 0px 0px 17.9528px 17.9528px;padding: 15px;}
.about-section .about-box{width: 100%;background: #0D1C3C;border: 1px solid #122B61;padding: 15px;}
.about-section .about-box p{font-size: 14px;font-weight: normal;text-align: left;line-height: 24px;color: #ffffff;}
.about-section .about-title{background: #0D1C3C;border: 1px solid #122B61;padding: 15px;clip-path: polygon(16% 0%, 100% 0%, 100% 62%, 100% 100%, -10% 100%);width: 200px;}
.about-section .about-title h6{font-family: 'Rowdies';font-size: 16px;font-weight: 500;text-align: center;text-transform: uppercase;color: #ffffff;}
.about-section .about-details{width: 100%;margin-bottom: 20px;position: relative;float: left;}

.about-section .about-title-1{background: #0D1C3C;border: 1px solid #122B61;padding: 15px;clip-path: polygon(10% 0%, 100% 0%, 100% 62%, 100% 100%, -8% 100%);}
.about-section .about-title-1 h6{font-family: 'Rowdies';font-size: 16px;font-weight: 500;text-align: center;text-transform: uppercase;color: #ffffff;}
.about-section .progress{height: 30px;border: 1px solid #122B61;font-size: 17px;background: #131D32;;}
.about-section .progress-bar{background: #FC1785;}

/*------- watch-section ---------*/
.watch-now{width: 100%;position: relative;float: left;padding: 30px 0px 30px 0px;}
.watch-box{width: 100%;position: relative;float: left;background:radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(11, 21, 41, 0.5) 0%, rgba(19, 29, 50, 0.29) 77.08%, rgba(19, 29, 50, 0.135) 100%);border: 1px solid #2B2F53;box-shadow: inset 10px 10px 20px #080F1F;border-radius: 22px;padding: 30px;}
.watch-now .watch-title{position: relative;;font-family: 'Rowdies';letter-spacing: 0.02em;font-size: 30px;font-weight:500;text-align: center;line-height: 40px;color: #ffffff;text-transform: uppercase;margin-bottom: 35px;}
.watch-now .watch-title strong{font-weight: 900;font-size: 32px;}
.watch-now .watch-title:before {content: "\f10d ";font-family: FontAwesome;display: inline-block;margin-right: 8px;top: 16px;left: -75px;color: #FC1785;font-size: 34px;position: absolute;}
.watch-now .watch-title:after {content: "\f10e ";font-family: FontAwesome;display: inline-block;margin-right: 8px;top: 16px;right: -75px;color: #FC1785;font-size: 34px;position: absolute;}
.watch-now .video-play:before {position: absolute;content: '';width: 100%;height: 100%;top: 0;left: 0;background:rgba(66, 71, 73, 0.98);background-blend-mode: overlay, normal;opacity: .4;border-radius: 20px;border: 1px solid #2B2F53;box-shadow: inset 7.26667px -7.26667px 7.26667px rgba(2, 194, 106, 0.1), inset -7.26667px 7.26667px 7.26667px rgba(255, 255, 255, 0.1);border-radius: 20px;}
.watch-now .video-play {min-height: 440px;background:url(../images/watch.png) center center;background-size: cover;border-radius: 20px;}
.play-btn {width: 94px;height: 94px;background: #FC1785;border-radius: 50%;display: block;position: absolute;left: calc(50% - 47px);top: calc(50% - 47px);overflow: hidden;box-shadow: inset 7.26667px -7.26667px 7.26667px rgba(2, 194, 106, 0.1), inset -7.26667px 7.26667px 7.26667px rgba(255, 255, 255, 0.1);}
.play-btn:before {content: "";position: absolute;width: 120px;height: 120px;-webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation: pulsate-btn 2s;animation: pulsate-btn 2s;-webkit-animation-direction: forwards;animation-direction: forwards;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-timing-function: steps;animation-timing-function: steps;opacity: 1;border-radius: 50%;border: 5px solid rgba(255, 255, 255, 0.5);top: -15%;left: -13%;background: rgba(252, 23, 133, 1);}
 .play-btn:after {content: "";position: absolute;left: 50%;top: 50%;transform: translateX(-40%) translateY(-50%);width: 0;height: 0;border-top: 15px solid transparent;border-bottom: 15px solid transparent;border-left: 25px solid #ffffff;transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);}
 @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);

      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

  /* avtar section */
  .avtar{width: 100%;position: relative;float: left;padding: 30px 0px 30px 0px;}
  .avtar .avtar-title{width: 100%;position: relative;float: left;margin-bottom: 30px;}
  .avtar .avtar-title h1{font-size: 30px;font-weight: normal;text-align: center;text-transform: uppercase;line-height: 40px;color: #ffffff;font-family: 'Rowdies';letter-spacing: 0.02em;}
  .avtar .avtar-left{width: 100%;position: relative;float: left;margin-bottom: 20px;}
  .avtar .avtar-left h2{font-family: 'Rowdies';font-size: 25px;font-weight: 600;text-align: left;text-transform: uppercase;line-height: 35px;color: #ffffff;margin-bottom: 20px;letter-spacing: 0.02em;}
  .avtar .avtar-left h2 span{color: #FC1785;}
  .avtar .avtar-left p{font-size: 16px;text-align: left;line-height: 26px;color: #ffffff;font-weight: normal;margin-bottom: 30px;}
  .avtar .avtar-left .avtar-btn{background: #0F234E;font-size: 16px;font-weight: 500;text-align: center;padding: 10px 20px;border: 1px solid #122B61;text-transform: uppercase;color: #ffffff;margin-right: 15px;box-shadow: inset 10px 10px 20px #010D27;border-radius: 5px;}
    .avtar .avtar-left .avtar-btn:last-child{margin-right: 0px;}
    .avtar .avtar-left .avtar-btn:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}
    .avtar-img{width: 100%;position: relative;float: left;text-align: center;}
   
    .avtar .avtar-title:before {content: "\f10d ";font-family: FontAwesome;display: inline-block;margin-right: 8px;top: 16px;left: -75px;color: #FC1785;font-size: 34px;position: absolute;}
    .avtar .avtar-title:after {content: "\f10e ";font-family: FontAwesome;display: inline-block;margin-right: 8px;top: 16px;right: -75px;color: #FC1785;font-size: 34px;position: absolute;}


/* Slider-section */
.animated-slider{width: 100%;position: relative;float: left;padding: 30px 0px 30px 0px;background: #0F234E;}
.animated-slider .slider-details{width: 100%;position: relative;float: left;margin-bottom: 20px;}
.animated-slider .slider-details h1{font-family: 'Rowdies';font-size: 35px;font-weight: 500;text-align: left;text-transform: uppercase;color: #ffffff;line-height: 45px;margin-bottom: 20px;}
.animated-slider .slider-details p{font-family: 'Poppins', sans-serif;font-size: 16px;font-weight: normal;text-align: left;line-height: 26px;color: #ffffff;}
.animated-slider .courael-img{width: 100%;position: relative;float: left;margin-bottom: 20px;}

/* VR-Section */
.mountain{width: 100%;position: relative;float: left;height: 100vh;background: url(/images/home-bg.png)center center #131D32;;background-size: cover;overflow: hidden;}
.mountain:before {position: absolute;content: '';width: 100%;height: 100%;top: 0;left: 0;background-color: #0F234E;opacity: .30;}

.vr-img{height: 100vh;width: 100%;position: absolute;bottom: 0px;left: 0;right: 0;background: url(/images/vr-img.png)center top;background-size: cover;z-index: 1!important;}
.vr-img{width: 100%; animation: zoominoutsinglefeatured 5s infinite;}

/* 
@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }

  50% {
      transform: scale(1.1,1.1);
  }

  100% {
      transform: scale(1,1);
  }
} */
.vr-details{width: 100%;}
.vr-details .vr-details-box{position: absolute;bottom:90px;left: 30px;width: 30%;}
.vr-details .vr-details-box h5{font-family: 'Rowdies';font-size: 19px;font-weight: normal;text-align: left;text-transform: uppercase;line-height: 29px;color: #ffffff;margin-bottom: 10px;}
.dt{align-items: center;height: 100vh;}
.vr-details .vr-details-box h5 span{color: #FC1785;}
.vr-details .vr-details-box p{font-size: 14px;font-weight: normal;text-align: left;line-height: 24px;color: #ffffff;font-family: 'Poppins', sans-serif;margin-bottom: 10px;}
.vr-details .vr-details-box .vr-btn{background: #0F234E;font-size: 16px;font-weight: 500;text-align: center;padding: 10px 40px;color: #ffffff;border: 1px solid #122B61;box-shadow: inset 10px 10px 20px #010D27;border-radius: 5px;}
.vr-details .vr-details-box .vr-btn:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}
.vr-details .top-nav-section{width: 100%;position: relative;float: left;padding: 15px;}
.vr-details .top-nav-section .nav-img{width: 100%;}